<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="cart_quantity_multiple" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cart Quantity Multiple</label>

                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="multiplier" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Multiplier</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="excluded_categories" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Excluded categories</label>
                    <comment>Enter category ID's to exclude from the multiplier rule (comma separated).</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>

                <field id="display_permanent_warning_message" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display permanent warning message</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This always display warning message in the checkout cart. This does not block the ordering process.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="permanent_warning_message" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Permanent warning message</label>
                    <comment>This message will show as defined when conditions are not met. Use % for introduction of multiplier value.</comment>
                    <depends>
                        <field id="display_permanent_warning_message">1</field>
                    </depends>
                </field>

                <field id="block_ordering" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block ordering if no multiplier in cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="error_message" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Error message</label>
                    <comment>This message will show as defined when conditions are not met. Use % for introduction of multiplier value.</comment>
                    <depends>
                        <field id="block_ordering">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
